<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h2>hola mundo</h2> 
    <div  class="conteiner-img-udload">
    <ul id="list">
        
    </ul>
</div>
    <script>
        'use strict'
 fetch('database.json',{
     header:{'Content-Type':'application/json'}
 })
 .then((response)=>{return response.json();})
 .then((data)=>{
data.forEach((picture)=>{
let image = new image();
image.width =200;
img.src = './uploads' +picture.idImg;
let li = document.createElement('LI');
li.appendChild(image);
document.getElementById(list).appendChild(li);
})

 })
    
    </script>
</body>
</html>