<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link  rel="stylesheet" href ='./css/estilos.css' />
    <title>Weber</title>
  </head>
  <body class="img" background="./img/img.png">
    <div class="conteiner-global">
      <div class="conteiner-modal">
        <div class="modal modal-close">
          <p class="close">X</p>

          <div class="item-upload-conteiner">
        <form action="/upload"  method="POST" enctype="multipart/form-data">
            <div class="item-upload">
              <input type="file" id="upload" name="image" class="upload" multiple/>
            </div>
            <input
              type="submit"
              id="btnLoad"
              class="btnUpload"
              value="Sube tu fondo de pantalla"
            />
          </div>
        </form>

          <div id="conteiner-fotos"></div>
        </div>
      </div>

      <div class="header-conteiner">
        <a href="/uploads">presiona</a>
        <div class="item-header">
          <h2>Que fue loquito vamos a jugar</h2>
        </div>
        <div class="item-boton-modal">
          <a href="#" class="cta">Subir Imagen</a>
        </div>
      </div>
      <div class="main-conteiner">
        <div class="item-main">
          <label class="item-1" for=""> Pon el Nombre de la Victima</label>
          <input class="item-1" id="nombre" type="text" />
        </div>
        <div class="item-main2">
          <label class="item-1" for=""> Pon tu Insulto</label>
          <input class="item-1" id="insulto" type="text" />
        </div>
        <input class="item-1" id="btnNombre" type="submit" />
        <div class="item-main3">
          <textarea id="area"> </textarea>
          
        </div>
      </div>

      <div class="footer-conteiner">
        <div class="item-footer">
          <p>@TodoslosDerechosReservadosByRetr0</p>
        </div>
      </div>
    </div>
    <script src="./js/index.js"></script>
    <script src="./js/upload.js"></script>
    <script src="./js/modal.js"></script>
  </body>
</html>
